/* 
CATEGORÍAS LÉXICAS
integer
floatnumber
char-literal
string-literal
datatype
bool
keyword
conditional
loop
operator
delimiter
symbol
comment
identifier
*/

.block {
    background-color: black;
    color: white;
}

.integer {
    color: red;
}
.floatnumber {
    color: rgb(134, 23, 23);
}
.char-literal {
    color: rgb(122, 184, 29);
}
.string-literal {
    color: rgb(2, 65, 2);
}
.datatype {
    color: violet;
}
.bool {
    color: rgb(255, 162, 0);
}
.keyword {
    color: rgb(78, 78, 242);
}
.conditional {
    color: gold;
}
.loop {
    color: rgb(142, 22, 255);
}
.operator {
    color: rgb(255, 112, 60);
}
.delimiter {
    color: gray;
}
.symbol {
    color: rgb(162, 50, 88);
}
.comment {
    color: rgb(212, 158, 57);
}
.variable {
    color: hotpink;
}